@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #ff4d30;
}

a{
    text-decoration: none;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins; 
}

button{
    cursor: pointer;
}

/* Navigation */

nav{
    width: 100%;
}

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.row{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav__wrapper__image{
    width: 145px;
}

.nav__image{
    width: 100%;
}

.nav__links{
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 200ms ease;
}

.nav__link{
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 0 8px;
}

.nav__btns{
    display: flex;
    align-items: center;
    gap: 20px;
}


.nav__btn__register{
    font-size: 16px;
    font-weight: 600;
    border: none;
    color: white;
    padding: 12px 20px;
    background-color: #ff4d30;
    border-radius: 4px;
    transition: 200ms ease;
}

.nav__btn__register:hover{
    background-color: #f64124;
}


/* Header */

.container{
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.row{
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 28px;
}

.header__row{
    display: flex;
    justify-content: center;
    position: relative;
}

.header__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    max-width: 500px;
    margin-top: 56px;
    margin-right: auto;
    
}

.header__img__wrapper{
    position: absolute;
    z-index: 2;
    right: 0;
    width: 65%;
}

.header__img{
    width: 100%;
    height: 100%;
}

.header__title__small{
    font-size: 20px;
    font-weight: 600;
}

.header__title{
    font-size: 52px;
    line-height: 1.2;
}

.primary-color{
    color: var(--primary)
}

.header__para{
    color: gray;
    margin-top: 12px;
    margin-bottom: 28px;
    z-index: 3;
}

.header__btns{
    display: flex;
    gap: 16px;
}

.header__btn__book{
    font-size: 16px;
    font-weight: 700;
    padding: 18px 30px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 200ms ease;
}

.header__btn__book:hover{
    background-color: #f64124;
}

.header__btn__learn{
    font-size: 16px;
    font-weight: 700;
    padding: 18px 30px;
    border-radius: 4px;
    outline: none;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 200ms ease;
}

.header__btn__learn:hover{
    color: black;
    border-color: black;
    background-color: transparent;
}

/* Features */

.feature__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature__title__small{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin: 12px;
}

.feature__title{
    display: flex;
    justify-content: center;
    font-size: 42px;
    margin: 12px;
}

.feature__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 32px;
    gap: 56px 120px;
    margin-top: 36px;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 20px;
}

.feature__img__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature__img{
    height: 100%;
    width: 100%;
}

.feature__list__title{
    font-size: 24px;
    font-weight: 700;
}

.feature__list__para{
    font-size: 16px;
    color: gray;
}